<div>
  <div class="md:flex md:flex-row py-5 px-10 sm:flex sm:flex-col">
    <img
      class="sm:w-96 md:w-60 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500 sm:mb-4"
      [src]="userData.avatar_url"
      alt="Profile Picture"
    />
    <div class="flex flex-col px-10">
      <p class="text-4xl">{{ userData.name }}</p>
      <p class="text-base py-1">{{ userData.bio ? userData.bio : "" }}</p>
      <p class="text-base py-1">
        {{ userData.location ? userData.location : "" }}
      </p>
      <a class="text-base py-1" [href]="twitterUrl">
        <span>{{ twitterUrl ? "Twitter: " : "" }}</span>
        <span class="underline decoration-solid">
          {{ twitterUrl ? twitterUrl : "" }}
        </span>
      </a>
      <a
        target="_blank"
        [href]="userData.html_url"
        class="underline decoration-solid flex"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-4 h-6 mr-1"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244"
          /></svg
        >{{ userData.html_url }}</a
      >
    </div>
  </div>
</div>
<div class="md:grid md:grid-cols-2 gap-3 ml-1 mt-10 px-10 ;sm:grid sm:grid-cols-1">
  <div *ngFor="let currentRepository of repoData">
    <div class="md:h-44 border-solid border-2 border-black/50 p-5">
      <a
        [href]="currentRepository.url"
        target="_blank"
        class="font-bold text-3xl text-sky-400/90 flex"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-4 h-10 mr-1"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244"
          /></svg
        >{{ currentRepository.repoName }}</a
      >
      <h5 class="text-sm mt-2 mb-2">
        {{
          currentRepository.description
            ? currentRepository.description
            : "No description"
        }}
      </h5>
      <div class="sm:flex sm:flex-cols md:grid md:grid-flow-row-dense grid-cols-6">
        <div *ngFor="let topic of currentRepository.topics">
          <div class="mt-1 mr-2 p-1.5 text-white bg-sky-500 text-sm">{{ topic }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-pagination [totalPages]="totalPages" [totalItems]="totalItems" (newItemEvent)="addItem($event)"></app-pagination>
